<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>基本信息</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;ssm-cluster</h3>
        <ul>
            <li>GitHub地址：<a href="https://github.com/ZHENFENG13/ssm-cluster" target="_blank">https://github.com/ZHENFENG13/ssm-cluster</a></li>
            <li>其他项目：<a href="https://github.com/ZHENFENG13" target="_blank">https://github.com/ZHENFENG13</a></li>
            <li>本项目为ssm整合第四章节的示例项目</li>
            <li>如需关注项目最新动态，请Watch、Star项目，同时也是对项目最好的支持</li>
        </ul>
    </div>
</div>
</body>
</html>